:root{
    --dark_text: #4a4a4a;
    --medium_text: #a1a1a1;
    --light_text: #f4f4f4;
}

/* Hide scroolbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;
}

body {
    color: #4a4a4a;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: "Lato", "Sans Serif";
    /* Hide scroolbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* SECTIONS */
#main_header {
    display: flex;
    justify-content: center;
}

.img {
    background: linear-gradient(0deg, #111, transparent 180%), url(img/back.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: saturate(0) brightness(0.7);
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.menu {
    background-color: rgba(100,100,100,1);
    width: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    z-index: 1;
    transition-duration: 0.5s;
}

.menu_list {
    display: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu_list a {
    color: var(--light_text);
}

.menu_list a:nth-child(1) li {
    background: rgba(0,0,0,0.1);
}

.menu_list a:nth-child(2) li {
    background: rgba(0,0,0,0.3);
}

.menu_list a:nth-child(3) li {
    background: rgba(0,0,0,0.5);
}

.menu_list a:nth-child(4) li {
    background: rgba(0,0,0,0.7);
}

.menu_list a li {
    list-style: none;
    box-shadow: -2px 1px 2px;
    text-align: left;
    cursor: pointer;
    text-transform: capitalize;
    padding: calc((100vh / 8 ) - (1em * 2) - (4px)) 2em;
}

.menu_list a li:hover {
    background: rgb(107 56 56) !important;
}

i[class^="fa"]{
    font-size: 1.5em;
    padding: 1em;
}

li a {
    text-decoration: none;
    color: initial;
}

.toggle {
    width: 80%;
}

.hamburger_menu {
    position: absolute;
    right: -40px;
    top: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.menu_lines {
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 2px var(--medium_text) solid;
    width: 30px;
}

.scroll_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--medium_text);
    position: absolute;
    bottom: 20px;
    cursor: default;
}

.arrow {
    display: flex;
    gap: 19px;
}

.left_arrow {
    border-left: 1px var(--medium_text) solid;
    border-right: 1px var(--medium_text) solid;
    transform: rotate(315deg);
    height: 30px;
}

.right_arrow {
    border-left: 1px var(--medium_text) solid;
    border-right: 1px var(--medium_text) solid;
    transform: rotate(45deg);
    height: 30px;
}

.mainHeader{
    position: absolute;
    bottom: 45%;
    color: #fff;
    font-size: 2vw;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    max-width: 90%;
}

.mainHeader span:nth-child(1) {
    font-size: 2.5em;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.2em 0.5em;
    letter-spacing: 0.4em;
    margin-bottom: 0.5em;
}

.bio span:nth-child(1){
    position: absolute;
    color: rgb(223, 9, 9);
    font-size: 1em;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

#bio{
    background-color: #f4f4f4;
    text-align: center;
    padding: 10%;
}
#bio img{
    width: 100vw;
    margin-left: -20%;

}
#bio p {
    font-size: 1.5rem;
}

a{
    color: #4a4a4a;
}

#skills{
    height: 100vh;
    background-color: white;
    text-align: center;
    padding: 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 49%;
} 
#skills .card{
    width: 49%;
}

#skills .card .card-header{
    padding: 10px 50px;
}

#skills .card .card-body{
    padding: 10px 0px;
}

#skills .card .card-body p{
    line-height: 1.5rem;
}
#skills .card:nth-of-type(1){
    border-width: 0 0.5px 0.5px 0;
    border-color: grey;
    border-style: solid;
}
#skills .card:nth-of-type(2){
    margin-bottom: -1px;
}
#skills .card:nth-of-type(4){
    border-width:  0.5px 0 0 0.5px;
    border-color: grey;
    border-style: solid;
}
#projects{
    background-color:#363636;
    color: white;
    text-align: center;
    padding: 5%;
}
.projects-container{
    display: flex;
}

#projects .left-projects{
    width: 45%;
    margin: 10px;

}

#projects .right-projects{
    width: 45%;
}

#projects .card{
    text-align: left;
    background-color: #393939;
    padding: 15px 5%;
    margin-bottom: 10px;

    
}

#projects .dark-card{
    background-color: #333333;
}

#contact_form{
    background-color: #f4f4f4;
    text-align: center;
    padding: 10%;
    height: 10hv;
}

footer{
    text-align: center;
    padding: 10%;
}

#socials{
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#socials a{
    margin: 5%;
    margin: 0 auto;
}
.fab:before {
    color: #d4d4d4;
    font-size: 2em;
}
button{
    padding: 10px;
}




@media only screen and (min-width: 800px) {
    .toggle {
        width:30%;
    }
    #bio img{
        width: 50%;
        margin-left: 0;
    }
}